<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="" class="logo">
              <img src="" alt="" />
              <span>User</span>
            </a></li>
          <li><a href="#">
              <i class="bi bi-speedometer2"></i>
              <span class="nav-item-mrf">Dashboard</span>
            </a></li>
          <li><a href="#">
              <i class="bi bi-chat-dots-fill"></i>
              <span class="nav-item-mrf">Message</span>
            </a></li>
          <li><a href="#">
              <i class="bi bi-database"></i>
              <span class="nav-item-mrf">Reports</span>
            </a></li>
          <li><a href="#">
              <i class="bi bi-graph-up-arrow"></i>
              <span class="nav-item-mrf">Attendance</span>
            </a></li>
          <li><a href="#">
              <i class="bi bi-sliders"></i>
              <span class="nav-item-mrf">Settings</span>
            </a></li>
          <li><a href="#" class="logout">
              <i class="bi bi-box-arrow-right"></i>
              <span class="nav-item-mrf">Logout</span>
            </a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>